<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>NewServletListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>servlet1</servlet-name>
        <servlet-class>servlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signup</servlet-name>
        <servlet-class>signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>compose</servlet-name>
        <servlet-class>compose</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sentview</servlet-name>
        <servlet-class>sentview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>draftview</servlet-name>
        <servlet-class>draftview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>trashview</servlet-name>
        <servlet-class>trashview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>inbox</servlet-name>
        <servlet-class>inboxview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>home</servlet-name>
        <servlet-class>home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>message</servlet-name>
        <servlet-class>message</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resetp</servlet-name>
        <servlet-class>resetp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servlet1</servlet-name>
        <url-pattern>/servlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signup</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>compose</servlet-name>
        <url-pattern>/compose</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sentview</servlet-name>
        <url-pattern>/sentview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>draftview</servlet-name>
        <url-pattern>/draftview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>trashview</servlet-name>
        <url-pattern>/trashview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>inbox</servlet-name>
        <url-pattern>/inboxview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>message</servlet-name>
        <url-pattern>/message</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resetp</servlet-name>
        <url-pattern>/resetp</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>  
        
   <welcome-file>index.html</welcome-file>  
    
  </welcome-file-list>  
</web-app>
